--index-url https://download.pytorch.org/whl/cu124
torch
torchvision
--extra-index-url https://pypi.org/simple
timm
albumentations
scikit-learn
pandas
matplotlib
pyyaml
tiffslide
pytest
fastapi
uvicorn
streamlit
onnx
onnxruntime
opencv-python-headless
jinja2
